## Задание 1

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [24]:
def sum_fruits(**kwargs):
    sum_res = sum([value for key, value in kwargs.items()])
#     sum_res = 0
#     for key, value in kwargs.items():
#         sum_res+=value
    return sum_res

In [26]:
print(sum_fruits(apple = 2,
          melon = 2,
          orange = 3,
          peach = 4,   
          cherry = 5))

16

## Задание 2

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [9]:
recieved_prices =  [100, 125, -90, 345, 655, -1, 0, 200] 
prices = [i if i > 0 else 0 for i in recieved_prices]
prices

[100, 125, 0, 345, 655, 0, 0, 200]

In [10]:
sum(prices)

1425

## Задание 3

Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 3.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [52]:
data_buying = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', 
               '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', 
               '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
               '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
               '2021-10-26', '2021-12-09'] 
sum_buying = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988,
              6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [53]:
len(data_buying)

30

In [54]:
len(sum_buying)

30

In [66]:
summa = sum([j for i, j in zip(data_buying, sum_buying) if i[5:7] == '09'])

In [67]:
summa

25647

### 3.2 Найдите выручку компании в зависимости от месяца

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [73]:
def union_dic(list1: list, list2: list)->dict:
    dict_res = {}
    temp = list1[0][5:7]
    for i in range(len(list1)):
        dict_res[temp] = sum([j for i, j in zip(data_buying, sum_buying) if i[5:7] == temp])
        temp = list1[i][5:7]
    return dict_res

In [74]:
print(union_dic(data_buying, sum_buying))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}

## Задание 4

### Найдите картинку в интернете и прикрепите её в ячейку с текстом

<b>Это милый котик изучает Python<b>
    <img src = 'https://f8.pmo.ee/wzKYitGs5fJ_6bi3QRd7YJeHwkk=/685x0/nginx/o/2022/08/03/14736428t1h4a35.jpg'>

### Создайте  таблицу в ячейке с текстом

<table>
    <tr>
        <td></td>
        <td>До события</td>
        <td>Во время события</td>
    </tr>
    <tr>
        <td>1 контрольная точка</td>
        <td>250</td>
        <td>500</td>
    </tr>
    <tr>
        <td>2 контрольная точка</td>
        <td>350</td>
        <td>700</td>
    </tr>
    <tr>
        <td>3 контрольная точка</td>
        <td>400</td>
        <td>800</td>
    </tr>
    <br>
    <tr>
        <td>Итого за победу</td>
        <td>1000</td>
        <td>2000</td>
    </tr>
 </table>